SELECT

In [ ]:
# Select columns: first_name, last_name, email
# From: customer
SELECT first_name, last_name, email
FROM customer;

SELECT DISTINCT

In [ ]:
# Find amount of MPAA movie ratings available
# From: films
SELECT DISTINCT ratings
FROM film;

WHERE

In [ ]:
# Find email for specific customer (Nancy Thomas)
# From: customer
SELECT email 
FROM customer
WHERE first_name = 'Nancy' 
AND last_name = 'Thomas';

In [ ]:
# Find movie description of 'Outlaw Hanky' for customer
# From: film
SELECT description 
FROM film
WHERE title = "Outlaw Hanky";

In [ ]:
# Find phone number of customer that corresponds to specific address
# From: address
SELECT phone
FROM address
WHERE address = '256 Ipoh Drive';

In [ ]:
# How many films begin with the letter J?
# From: film
SELECT COUNT(title) FROM film
WHERE title LIKE 'J%';

ORDER BY

In [ ]:
# Find customer ids of first 10 paying customer to give reward
# From: payment
SELECT customer_id
FROM payment
ORDER BY payment_date ASC 
LIMIT 10;

In [ ]:
# Find titles of the 5 shortest movies 
# From: film
SELECT title, length
FROM film
ORDER BY length ASC 
LIMIT 5;

In [ ]:
# How many movies in stock are 50 minutes or less?
# From: film
SELECT COUNT (title)
FROM film
WHERE length <= 50.00;

In [ ]:
# What customer has the highest customer ID number whose name starts with an 'E' and has an address ID lower than 500?
# From: customer
SELECT first_name, last_name FROM customer
WHERE first_name LIKE 'E%'
AND address_id < 500
ORDER BY customer_id DESC
LIMIT 1;

COUNT

In [ ]:
# How many payment transactions were greater than $5.00?
# From: payment
SELECT COUNT (*) 
FROM payment
WHERE amount >= 5.00;

In [ ]:
# How many actors have a first name that starts with the letter P?
# From: actor
SELECT COUNT(*)
FROM actor
WHERE first_name LIKE 'P%';

In [ ]:
# How many unique districts are our customers from?
# From: address
SELECT COUNT(DISTINCT (district))
FROM address;

In [ ]:
# What is the list of distinct district names?
# From: address
SELECT DISTINCT (district)
FROM address;

In [ ]:
# How many films have a rating of R and a replacement cost $5 - $15?
# From: film
SELECT COUNT (titles)
FROM film
WHERE rating = 'R'
AND replacement_cost BETWEEN 5.00 AND 15.00;

In [ ]:
# How many films are the word Truman somewhere in the title?
# From: film
SELECT COUNT (*)
FROM film
WHERE title LIKE '%Truman%';

AGGREGATIONS

In [ ]:
# Which staff member handled the most payments?
# From: payment
SELECT staff_id, COUNT *
FROM payment
GROUP BY staff_id ASC;

In [ ]:
# What is the average replacement cost per MPAA rating?
# From: film
SELECT rating , ROUND(AVG(replacement_cost),2)
FROM film
GROUP rating;

In [ ]:
# What are the customer ids of the top 5 customers by total spend?
# From: payment
SELECT customer_id , SUM(amount)
FROM payment
GROUP BY customer_id
ORDER BY SUM(amount) DESC
LIMIT 5;

In [ ]:
# What customer_ids are eligible for platinum status (40 or more transactions)?
# From: payment
SELECT customer_id , HAVING *
FROM payment
GROUP BY customer_id
HAVING COUNT (*) >= 40.0;

In [ ]:
# What customers have spent more than $100 in payments with staff member 2?
# From: payment
SELECT customer_id SUM(amount)
FROM payment
WHERE staff_id = '2'
GROUP BY customer_id
HAVING SUM(amount) > 100.00;

In [ ]:
# Return the customer IDs of customers who have spent at least $110 with the staff member who has an ID of 2.
# From: payment
SELECT (customer_id), SUM(amount)
FROM payment
GROUP BY staff_id, customer_id
HAVING SUM(amount)>= 110.00 AND staff_id=2;